:root{
    --dark-gray : #2d3436;
    --soft-gray : #636e72;
    --main-color: #e74c3c;
    --white:      #ecf0f1;
}
/* <!-- ================== start navbar ========================== --> */

header{
    background-image:url(../imgs/slide-1.jpg) ;
    background-size: cover;
    height: 100vh;
}
.navbar .navbar-brand h3,
.navbar .navbar-nav .nav-item .nav-link{
    color: var(--white);
}
nav .navbar-brand h3 span {
    color: var(--main-color);
}

.navbar .navbar-nav .nav-item .nav-link:hover,
.navbar .navbar-nav .nav-item .nav-link:focus{
background-color: var(--main-color);
color: var(--white);
}

header .caption{
    color: var(--white);
}
header .caption h1{
    font-weight: bold;
    text-transform: uppercase;
}
header .caption h1 span{
    color: var(--main-color);
}
header .caption .career{
    background-color: transparent;
    border: 1px solid var(--white);
}
header .caption .career:hover{
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
}

header .overlay{
    background-color: var(--dark-gray);
    opacity: 0.7;
    height: 100%;
    width: 100%;
}


/* <!-- ================== end navbar ========================== --> */

/* <!-- ================== start Design ========================== --> */

.design .row .icons{
    border: 20px solid var(--main-color);
    background-color: var(--main-color);
    border-radius:50%;
}
.design .row p{
    color: var(--soft-gray);
}

/* <!-- ================== End Design ========================== --> */

/* <!-- ================== start our work ========================== --> */

.our-work .caption h1 span{
    color: var(--main-color);
}

.our-work .row img{
    width: 100%;
}

.our-work  .work:hover{
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
}
/* <!-- ================== end our work ========================== --> */

/* <!-- ================== start our team ========================== --> */

.our-team{
    color: var(--soft-gray);
}
.our-team .caption h1{
    color: var(--dark-gray);
}
.our-team .caption h1 span{
    color: var(--main-color);
}
.our-team .row img{
    height: 30vh;
    filter: grayscale(100%);
}
.our-team .row img:hover{
    filter: grayscale(0%);

}
.our-team .row img:hover ~ .icons .fa-facebook{
    color: #1877f2;
}
.our-team .row img:hover ~ .icons .fa-twitter{
    color: #1da1f2;
}
.our-team .row img:hover ~ .icons .fa-google{
    color: #dd4b39;
}
.our-team .row img:hover ~ .icons .fa-youtube{
    color: #ff0000;
}

/* <!-- ================== end  our team ========================== --> */

/* <!-- ================== start Hello ========================== -->  */
.hello{
    background-image: url("../imgs/contact-bg.jpg");
    background-size: cover;
    height: 100vh;
}
.hello .caption h3 {
     color: var(--white);
     
}

.hello .caption h3 span{
    color: var(--main-color);
}
.hello .caption p{
    color: var(--white);
}
.hello .row input ,
.hello .row textarea{   
    background-color:transparent;
}
.hello .row input::placeholder,
.hello .row textarea::placeholder{
    color: var(--white);
}

.hello .row .btn{
    background-color: var(--main-color);
    color: white;
}

.hello .row .icons .fa-facebook{
    color: #1877f2;
}
.hello .row .icons .fa-twitter{
    color: #1da1f2;
}
.hello .row .icons .fa-google{
    color: #dd4b39;
}
.hello .row .icons .fa-youtube{
    color: #ff0000;
}

.hello .overlay{
    background-color: var(--dark-gray);
    opacity: 0.7;
    height: 100%;
    width: 100%;

}


/* <!-- ================== end Hello ========================== -->  */

/* <!-- ================== start Footer ========================== -->  */
footer{
    background-color: var(--dark-gray);
    height:100%;

}   
footer .footer p{
    color: var(--white);
    font-size: small;
}

/* <!-- ================== end Footer ========================== -->  */


